.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.orange-back {
    background-color: #FF7F00;
}

.orange {
    color: #FF7F00;
}

.special-size {
  width:  40%;
  height: 40%;
}

.police-size {
  font-size: 1.5em;
}

.align-top {
	vertical-align: top;
}

.background-center {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 200px;
}

span.price {
	background-color: #ccc;
	opacity: 0.8;
	border-radius: 2px;
	padding: 5px;
	color: black;
}

.color-white {
	color: white;
}

div.custom-overlay {
	background-color: #ccc;
	opacity: 0.7;
	color: green;
	margin: auto auto;
	text-align: center;
	font-size: 100px;
	line-height: 167px;
}

div.custom-overlay > span.price {
	display: none;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.orange-back {
    background-color: #FF7F00;
}

.orange {
    color: #FF7F00;
}

.special-size {
  width:  40%;
  height: 40%;
}

.police-size {
  font-size: 1.5em;
}

.menu-card {
  height: 200px;
}

.no-margin {
  margin: 0!important;
}

.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
  transform: rotateY(180deg);
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  height: 100%;
  width: 100%;
}
