
.no-padding {
    padding: 0px !important;
}

.friend-avatar-big {
    object-fit: cover;
    display: block;
    border-radius: 100%;
    margin-top: 10px;
    max-width: 140px;
    max-height: 140px;
}
