.item-repas {
  text-align: center;
}

.button-repas {
  width: 50%;
  min-height: 10px;
}

.card-resto {
    padding: 0px !important;
    margin: 5px;
}

.img-resto {
  height: 65px;
  object-fit: cover;
}

.container-resto {
  padding: 5px 0px;
}

.container-resto > :first-child {
  margin-left: 0px;
}

.container-resto > :last-child {
  margin-right: 0px;
}

.icon-add-participant {
  color:green;
  font-size: 25px!important;
}
