<ion-view view-title="Choix menus">

	<ion-nav-buttons side="secondary">
      <button class="button button-clear button-positive" ng-click="valider()">
        Valider
      </button>
    </ion-nav-buttons>

	<div class="has-tabs-top tabs-striped tabs-top tabs-background-positive tabs-color-light">
	    <div class="tabs">
	      <a class="tab-item" ng-click="selected=menus" ng-class="{active: selected == menus}" href>
	        Menus
	      </a>

	      <a class="tab-item" ng-click="selected=!menus" ng-class="{active: selected == !menus}" href>
	        Restaurants
	      </a>
	    </div>
	</div>
	<ion-content padding="true" class="has-tabs-top">
		<div ng-class="{hide: selected == !menus}">

			<div id="menus-container"></div>

		</div>
		<div ng-class="{hide: selected == menus}">

			<div id="restos-container"></div>

		</div>
	</ion-content>

</ion-view>
