<ion-view view-title="Choix restaurants">

	<!-- <ion-nav-buttons side="secondary">
	      <button class="button button-clear button-positive" ng-click="valider()">
	        Valider
	      </button>
	    </ion-nav-buttons> -->

	<!-- <div class="has-tabs-top tabs-striped tabs-top tabs-background-positive tabs-color-light">
	    <div class="tabs">
	      <a class="tab-item" ng-click="selected=menus" ng-class="{active: selected == menus}" href>
	        Menus
	      </a>
	
	      <a class="tab-item" ng-click="selected=!menus" ng-class="{active: selected == !menus}" href>
	        Restaurants
	      </a>
	    </div>
	</div> -->


	<ion-content>


		<div ng-repeat="resto in restos" class="list card">

		  <div class="item item-avatar">
		    <img src="{{resto.picture}}">
		   	<a class="text-right button button-icon ion-ios-circle-outline" style="float:right;font-size:40px" ng-click="toggleSelectResto(resto.name, $event)"></a><!-- 
		   	<a ng-if="chosen" class="text-right button button-large button-icon ion-ios-checkmark balanced" style="float:right" ng-click="unselectResto(resto.name)"></a> -->
	    	<h2>{{resto.name}}</h2>
	    	<p>Distance par rapport à IF</p>
		  </div>

		  <div class="item item-body">
		    <div class="card menu-card  flip-container" ng-repeat="menu in resto.menus" ng-click="flip($event)">	
		    	<div class="flipper">
		    		<div class="front">
			    		<img class="item item-image full-image" src="{{menu.picture}}"  height="200">
		    		</div>
			    	<div class="back">
				    	<div class="item item-divider">
				    		{{menu.name}}
				    	</div>
				    	<div class="item item-text-wrap">
							<h2>{{menu.price | currency:"€"}}</h2>
				    	</div>
			    	</div>
		    	</div>
		    </div>
		  </div>

		</div>
	</ion-content>

</ion-view>
