<ion-view view-title="Invite tes amis">
    <ion-content scrollbar-y="true">

		<div class="list">
			<!-- ******************* DATE ************************* -->
			<div ng-hide="{{mealModification}}" >
				<div class="item item-divider">
				    Heure & Jour
				</div>

				<div class="item">
					<div class="item-input-inset" style="height:40px">
						<div class="item item-input-wrapper" style="height:30px">
					   		 <input type="datetime-local" id="exampleInput" name="input" ng-model="date" placeholder="HH:mm dd/MM/yyyy" style="text-align:center; width:100%"/>
					    </div>
					</div>

				</div>
			</div>
			<!-- ******************* GROUPS ************************* -->
			<div ng-hide="{{mealModification}}" >
				<div class="item item-divider">
				    Groupes
				</div>

			  	<div class="item item-text-wrap">
			  		<div style="display:inline-block" ng-repeat="group in groups">
			  			<button class="button button-icon" ng-click="selectGroup({{group.members}})">
				  			<img src="{{group.picture}}" style="width:80px">
				  		</button>
				  		<p style="text-align:center">{{group.name}}</p>
			  		</div>

					<!-- ****** NEW GROUP ******* -->
			  		<div style="display:inline-block">
			  			<button class="button button-icon">
				  			<img src="img/groups/newgroup.jpg" style="width:80px">
				  		</button>
				  		<p style="text-align:center">Nouveau</p>
			  		</div>

			  	</div>
			</div>
			<!-- ******************* FRIENDS ************************* -->
			<div class="item item-divider">
			    Amis
			</div>
			<!-- ***************** SEARCH BAR ******************* -->
			<div class="item-input-inset" style="height:50px">
				<div class="item item-input-wrapper" style="height:30px">
			       	<i class="icon ion-search placeholder-icon" ></i>
			   		<input type="text" ng-model="query" placeholder="Search">
			    </div>

			    <button class="button button-icon">
			    	<h3 style="margin:10px; font-size:14px; color:grey">Nouveau</h3>
		  		</button>
			</div>


			<!-- ****************** AVATARS ********************** -->
		  	<div class="item item-avatar item-button-right" ng-repeat="contact in contacts | filter:query">

			    <img ng-src="{{contact.picture}}"/>
			    <h2>{{contact.name}}</h2>
			    <p>{{contact.description}}</p>

				<button class="button button-icon" style="margin-top:10px" ng-click="switchContactIcon($index)" ng-disabled="{{contact.disable}}">
				    <i class="icon {{contact.contactIcon}}" style="color:{{contact.buttonColor}}"></i>
				</button>
		    </div>

		</div>
		</br>
		</br>
		</br>
    </ion-content>

    <!-- FOOTER -->
		<button class="bar bar-footer bar-balanced" ng-click="goToRepas()">
			<div ng-hide="{{mealModification}}"  class="title">Créer l'invitation</div>
			<div ng-show="{{mealModification}}" class="title">Ajouter</div>
		</button>
</ion-view>
