<ion-view view-title="Invite your friends">
    <div class="bar bar-header bar-light">
		<h1 class="title">Invite your Friends</h1>
	</div>

    <ion-content>
	</br>
	</br>
		<div class="list">
			<!-- ******************* GROUPS ************************* -->
			<div class="item item-divider">
			    Groups
			</div>

		  	<div class="item">
		  		<button class="button button-icon">
		  			<img src="img/ionic.png">
		  		</button>
			    
			    <button class="button button-icon">
		  			<img src="img/ionic.png">
		  		</button>
				
				<!-- ****** NEW GROUP ******* -->
		  		<button class="button button-icon">
		  			<i class="icon ion-plus-circled"></i>
		  		</button>
			    
		  	</div>
			
			<!-- ******************* FRIENDS ************************* -->
			<div class="item item-divider">
			    Friends
			</div>
			<!-- ***************** SEARCH BAR ******************* -->
			<div>
				Barre de recherche
			</div>
			
			<!-- ****************** AVATARS ********************** -->
		  	<div class="item item-avatar item-button-right" ng-repeat="contact in contacts">
			    <img ng-src="{{contact.picture}}">
			    <h2>{{contact.name}}</h2>
			    <p>{{contact.description}}</p>


				<button class="button button-icon">
				    <i class="icon ion-plus-circled" style="color:{{buttonColor}}"></i>
				</button>

		    </div>


		</div>


		
    </ion-content>

    <!-- FOOTER -->
	<a href="#/app/choix-menus">
		<div class="bar bar-footer bar-balanced">
			<div class="title">Select date</div>
		</div>
	</a>
</ion-view>
