<ion-view view-title="invitations">
    <ion-content>
    </br></br>
      <div ng-repeat="invitation in invitations" class="list invitation">
        <a class="item item-avatar" href="#">
          <div class="invitation-header">
            <div class "invitation-hour">
              <span>{{invitation.date}} at {{invitation.hour}}</span>
            </div>
            <div class "invitation-state">
              <span ng-if="invitation.pending"> Are you going ? [Yes] [No] <span>
              <span ng-if="!invitation.pending && invitation.going"> Your are going <span>
              <span ng-if="!invitation.pending && !invitation.going"> Your are not going <span>
            </div>
          </div>

          <div class="invitation-friends">
            <img class="friend-avatar" src="{{invitation.hostFriend.pictureUrl}}">
            <span> | </span>
            <div ng-repeat="friend in invitation.friends">
              <img src="{{friend.pictureUrl}}">
            </div>
          </div>
        </a>
      </div>
	</ion-content>
</ion-view>
