<ion-view view-title="Liste de vos invitations">
    <ion-nav-buttons side="secondary">
      <button class="button button-clear button-positive" ng-click="goToProfileView()">
        Mon compte
      </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
      <div class="list invitation">
        <!-- A div for each day -->
        <div ng-repeat="(day, dailyInvitations) in invitations">
          <div class="item item-divider">
            {{day}}
          </div>
          <!-- Begin of a meal -->
          <a ng-repeat="invitation in dailyInvitations" class="item invitation" href="#/app/home/repas/{{invitation.id}}">
            <div class="invitation-header">
              <div class "invitation-hour">
                <span>{{getTimeToPrint(invitation.mealTime)}}</span>
              </div>
              <div class "invitation-state">
                <span ng-if="invitation.pending">
                  <i class="icon ion-help-circled" style="color:orange"></i>
                  <span> {{getCropedNameFromId(invitation.hostId)}} vous a invité</span>
                </span>
                <span ng-if="!invitation.pending && invitation.going">
                  <i class="icon ion-checkmark-circled" style="color:green"></i>
                  <span> Invitation de {{getCropedNameFromId(invitation.hostId)}} acceptée </span>
                </span>
                <span ng-if="!invitation.pending && !invitation.going">
                  <i class="icon ion-close-circled" style="color:red"></i>
                  <span> Invitation de {{getCropedNameFromId(invitation.hostId)}} refusée </span>
               </span>
              </div>
            </div>
            <div class="invitation-friends">
              <img class="friend-avatar friend-item" src="{{contacts[invitation.hostId].picture}}">
              <div class="friend-separator friend-item"></div>
              <div ng-repeat="friendId in invitation.friendsId">
                <img class="friend-avatar friend-item" src="{{contacts[friendId].picture}}">
              </div>
            </div>
          </a>
          <!-- End of a meal -->
        </div>
        <!-- End of a day -->
      </div>
	</ion-content>
  <a href="#/app/home/friends">
    <div class="bar bar-footer bar-balanced">
      <div class="title">Créer une invitation</div>
    </div>
  </a>

</ion-view>
