<ion-view view-title="Vos invitations">
    <ion-content>
      <div class="list invitation">
        <div class="item item-divider">
          Aujourd'hui
        </div>
        <!-- TODO: Link an invitation, /invitation/id-->
        <a ng-repeat="invitation in invitations" class="item invitation" href="{{getInvitationUrl(invitation.id)}}">
          <div class="invitation-header">
            <div class "invitation-hour">
              <span>{{getTime(invitation.mealTime)}}</span>
            </div>
            <div class "invitation-state">
              <span ng-if="invitation.pending">
                <i class="icon ion-help-circled" style="color:orange"></i>
                <span> Invitation en attente </span>
              </span>
              <span ng-if="!invitation.pending && invitation.going">
                <i class="icon ion-checkmark-circled" style="color:green"></i>
                <span> Invitation acceptée </span>
              </span>
              <span ng-if="!invitation.pending && !invitation.going">
                <i class="icon ion-close-circled" style="color:red"></i>
                <span> Invitation refusée </span>
             </span>
            </div>
          </div>
          <div class="invitation-friends">
            <img class="friend-avatar friend-item" src="{{contacts[invitation.hostId].picture}}">
            <div class="friend-separator friend-item"></div>
            <div ng-repeat="friendId in invitation.friendsId">
              <img class="friend-avatar friend-item" src="{{contacts[friendId].picture}}">
            </div>
          </div>
        </a>
      </div>
	</ion-content>
  <a href="#/app/home/friends">
    <div class="bar bar-footer bar-balanced">
      <div class="title">Créer une invitation</div>
    </div>
  </a>
</ion-view>
