<ion-view view-title="Profil">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-positive" ng-click="doLogout()">
          Déconnexion
    </button>
  </ion-nav-buttons>

  <ion-content>

    <div class="profile profile-image">
      <img src="img/friends/cyril.jpg"/>
    </div>

    <div class="list list-profile">

      <div class="item item-divider">
        Personnel
      </div>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        Cyril Canete
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-email"></i>
        cyril.canete@gmail.com
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-locked"></i>
        Modifier votre mot de passe
      </a>

      <div class="item item-divider">
        Comptes liés
      </div>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-facebook"></i>
        Cyril Canete
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-google"></i>
        Lier un compte google
      </a>

      <div class="item item-divider">
        Vos préférences
      </div>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-fork"></i>
        Allergies
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-location"></i>
        Restaurants
      </a>

    </div>

		<div ng-show="prefRegime">
      <div class="list">
        <div ng-repeat="regime in dataRegimes">
          <ion-checkbox ng-model="choixRegime[regime]">{{regime}}</ion-checkbox>
        </div>
	    </div>
    </div>

		<div ng-show="prefResto">
      <div class="list">
        <div ng-repeat="typeResto in dataRestos">

          <div class="item item-divider">
            {{typeResto.type}}
          </div>

          <div ng-repeat="resto in typeResto.nom">
            <ion-checkbox ng-model="choixResto[typeResto.type][resto]">{{resto}}</ion-checkbox>
          </div>

        </div>
	    </div>

		</div>
	</ion-content>
</ion-view>
