<ion-view view-title="Préférences alimentaires">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-positive" ng-click="doLogout()">
          Sauvegarder
    </button>
  </ion-nav-buttons>

  <ion-content>

      <ion-list>
        <div class="item item-divider">
          Sélectionnez vos préférences alimentaires
        </div>
        <div ng-repeat="regime in dataRegimes">
          <ion-checkbox ng-model="choixRegime[regime]">{{regime}}</ion-checkbox>
        </div>
      </ion-list>

	</ion-content>
</ion-view>
