<ion-view view-title="Profil">
  <div class="tabs-striped tabs-color-assertive">
    <div class="tabs">
      <a class="tab-item active" href="#">
        <i class="icon ion-home"></i>
        Test
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        Settings
      </a>
    </div>
  </div>
  <ion-content>
    <div class="list card">

      <div class="item item-avatar item-icon-right">
        <img src="gui.jpg">
        <h2>Gui</h2>
        <p>Le gros porc</p>
        <i class="icon ion-camera"></i>
      </div>
    </div>


  </ion-content>
</ion-view>
