<ion-view view-title="homepage">
    <ion-content>
		<div class="col no-padding">
			<div class="row-50 no-padding">
				<a href="#" class="item item-icon-left">
				    	<i class="icon ion-android-restaurant"></i>
				   		<div><b>Restaurants</b></div>
			  	</a>
				<div class="col no-padding">
			  		<div class="row row-top">
			  			<span class="col card no-padding">
							<a href="#/app/home/choix-menus" class="item item-icon-left">
						    	<i class="icon ion-ios-location"></i>
						    	<div><b>Resto Universitaire</b></div>
						  	</a>
						</span>
			  		</div>
			  		<div class="row">
			  			<span class="col card no-padding"  ng-repeat="restaurant in chosenRestaurants | orderBy:'+rank'">
								<div class="item item-divider">
								{{restaurant.rank}}e | {{restaurant.votes}} p.
								</div>
								<p class="item item-text-wrap">
								{{restaurant.name}}
								</p>
						</span>
			  		</div>
				</div>
			</div>
			<!-- ******************* FRIENDS ************************* -->
			<div class="row-50 no-padding">
				<a href="#amis" class="item item-icon-left">
				    	<i class="icon ion-person-stalker"></i>
				   		<div><b>Amis</b></div>
			  	</a>
			  	<div class="center">
			  	</br>
					<button class="button button-icon" ng-repeat="friendId in repas[currentMealId].friendsId | orderBy:'+name'">
						<img class="friend-avatar-big" src={{contacts[friendId].picture}}>
						<p>{{friend.name}}</p>
					</button>
					<!-- **************** ADD NEW FRIEND ********************** -->
					<button class="button button-icon" ng-click="addNewFriendToMeal()">
						<img class="friend-avatar-big" src="img/ionic.png">
					</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
