/* Empty. Add your own CSS if you like */

.no-padding {
    padding: 0px !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.orange-back {
    background-color: #FF7F00;
}

.orange {
    color: #FF7F00;
}

.special-size {
  width:  40%;
  height: 40%;
}

.police-size {
  font-size: 1.5em;
}
