/* Empty. Add your own CSS if you like */
.align-top {
	vertical-align: top;
}

.background-center {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 200px;
}

span.price {
	background-color: #ccc;
	opacity: 0.8;
	border-radius: 2px;
	padding: 5px;
	color: black;
}

.color-white {
	color: white;
}

div.custom-overlay {
	background-color: #ccc;
	opacity: 0.6;
	color: green;
	margin: auto auto;
	text-align: center;
	font-size: 100px;
	line-height: 167px;
}

div.custom-overlay > span.price {
	display: none;
}